@import "reset";
@import "fonts";

body {
}

.header {
	margin: 0 auto;
	width: 1600px;
	height: 100vh;
	color: #ffffff;
	background: url(../../assets/images/tu-tram-pham-202263\ 1.png) 0 0 / cover no-repeat;
	&::before {
		content: "";
		width: 1600px;
		height: 100vh;
		background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
		position: absolute;
		z-index: -1;
	}

	&__row {
		display: flex;
	}

	&__logo {
	}

	&__menu {
	}

	&__social {
		& div {
			width: 40px;
			height: 40px;
			border: 1px solid #ffffff;
			border-radius: 50%;
		}
	}

	&__slider {
	}
}
.logo {
	&__link {
	}
}
.menu {
	display: flex;
	&__item {
		font-family: $ff-ssp;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
}
.slider {
	&__item {
	}
}
