@import "reset";
@import "fonts";
@import "vars";

a {
	cursor: pointer;
	color: #ffffff;
}
.container {
	width: 1600px;
	padding: 0 215px;
}
.header {
	margin: 0 auto;
	max-width: 1600px;
	height: 100vh;
	color: #ffffff;
	background: url(../../assets/images/tu-tram-pham-202263\ 1.png) 0 0 / cover no-repeat;
	&::before {
		content: "";
		width: 1600px;
		height: 100vh;
		background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
		position: absolute;
		z-index: -1;
	}

	&__row {
		display: flex;
		align-items: center;
		gap: 110px;
		max-width: 1170px;
		height: 54px;
	}

	&__logo {
	}

	&__menu {
		width: 515px;
		height: 18px;
	}

	&__social {
		display: flex;
		gap: 20px;
		._icon-facebook {
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		._icon-twitter {
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		._icon-instagram {
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		& div {
			width: 40px;
			height: 40px;
			border: 1px solid #ffffff;
			border-radius: 50%;
		}
	}

	&__slider {
	}
}

wrap {
}

.logo {
	&__link {
	}
}
.menu {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 93px;

	&__item {
		font-family: $ff-ssp;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
}
.slider {
	&__item {
	}
}
